.styleFirstSection  {
    background-color: "#18474D";
    //color: "#DDE9D3",
    //fontFamily: "Arial",
    //display: "flex",
    height: "200px";
    //width: "100%",
    justify-content: "center";
    //marginTop: "10px",
    //marginBottom: "150px",
    //marginTop: "150px",
  };
  
.styleSecondSection {
    //backgroundColor: "#18474D",
    color: "#DDE9D3";
    font-family: "Arial";
    display: "inline-flex";
    //height: "10px",
    width: "600px";
    justify-content: "center";
    align-items: "center";
  
    margin-top: "-70px";
    font-size: "20px";
    //fontSize: "20px", color: "#18474D", fontWeight: "bold"
  };